.footer{
    background: linear-gradient(96.18deg, #006B9E -2.14%, #0D75BE 48.69%, #095BA3 101.22%);
    height: 100%;
  
}

.footer--line {
    border-top: 1px solid #FFFFFF;;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 45px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer__copy{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.number {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
