.detail {
    max-width: 1480px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;

} 

.news-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #454E5C;
}
    
.topnam {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #30353D;
}

.news-element {
   
}

.body-news {
    max-width: 1480px;
}

.news-element__top {
     
}

.moredetail {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #006B9E;
}